APScheduler==3.10.4
azure-common==1.1.28
azure-core==1.30.2
azure-data-tables==12.5.0
azure-identity==1.17.1
azure-mgmt-authorization==4.0.0
azure-mgmt-core==1.4.0
azure-mgmt-resource==23.1.1
azure-mgmt-resourcegraph==8.0.0
azure-mgmt-resourcehealth==1.0.0b5
azure-mgmt-subscription==3.1.1
certifi==2024.7.4
cffi==1.17.0
cryptography==43.0.0
Flask==3.0.3
html2text==2024.2.26
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
msal==1.30.0
msal-extensions==1.2.0
oauthlib==3.2.2
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
sendgrid==6.11.0
slack-sdk==3.21.3
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.2
gunicorn==23.0.0
